<template>
  <div>
    <ModalForm
      v-if="openForm"
      @closeForm="closeForm"
      @submitForm="submitForm"
      :action="formAction"
      :form="defaultForm"
      :loading="loadingForm"
    />
    <div
      class="bg-image-book h-20 sm:h-48 flex justify-center flex-wrap content-center"
    >
      <div class="text-4xl text-gray-700 text-center w-full"></div>
    </div>
    <div class="p-5 md:p-14 mt-5">
      <div class="text-right mb-10">
        <button
          v-if="user && user.token"
          @click="openArticle()"
          class="bg-primary text-white rounded px-2 py-1 text-sm md:mt-0"
        >
          Add New Article
        </button>
      </div>
      <div
        v-if="articles && !articles.data.length"
        class="text-center uppercase"
      >
        No article right now
      </div>
      <div
        v-else
        v-for="(article, i) in articles.data"
        :key="i"
        class="flex flex-wrap mb-10"
      >
        <div class="w-full sm:w-1/3 h-42 sm:h-72">
          <div
            class="w-full h-full rounded bg-primary"
            v-viewer="optionViewer"
            style="cursor: zoom-in"
          >
            <img
              v-if="article.images.length > 0"
              :src="article.images[0].url"
              :alt="article.title"
              class="w-full h-full object-cover rounded"
            />
            <img
              v-else
              class="w-full h-full object-cover rounded"
              src="../../assets/images/home/sliders/slider-1.webp"
              alt="loa-banner"
            />
          </div>
        </div>
        <div class="w-full sm:w-2/3 py-5 sm:py-0 sm:pl-10 relative">
          <div class="flex justify-between">
            <h1 class="text-3xl max-w-xl">{{ article.title }}</h1>
            <div>
              <button
                v-if="user && user.token"
                @click="openArticle(article)"
                class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
              >
                Edit
              </button>
              <button
                v-if="user && user.token"
                @click="deleteData(article.id)"
                class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
              >
                Delete
              </button>
            </div>
          </div>
          <div class="text-md text-primary">
            {{ article.updated_at | formatDate }}
          </div>
          <hr class="my-5 w-16 bg-gray-500" />
          <div class="text-lg">
             <span v-html="article.body.substring(0, 300)"></span>
            <nuxt-link :to="`/loa/${article.id}/${article.slug}`">
              <span class="text-primary cursor-pointer">Read More</span>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div
        class="text-center"
        v-if="articles.current_page < articles.last_page"
        @click="getData()"
      >
        <span class="text-primary text-xl text-bolder cursor-pointer"
          >Load more</span
        >
      </div>
    </div>
  </div>
</template>

<script>
import { getToken } from '~/common/utils'
export default {
  data: () => ({
    user: {},
    article: {},
    openForm: false,
    formAction: '',
    loadingForm: false,
    defaultForm: {},

    formArticle: [
      { field: 'id', type: 'id', label: '', value: '' },
      { field: 'title', type: 'text', label: 'Title', value: '' },
      { field: 'keywords', type: 'text', label: 'Keyword', value: '' },
      { field: 'image', type: 'image', label: 'Image', value: '' },
      {
        field: 'description',
        type: 'wysiwyg',
        label: 'Description',
        value: '',
      },
    ],
    optionViewer: {
      navbar: false,
      toolbar: false,
    },
  }),
  computed: {
    articles() {
      return this.$store.getters['article/getArticle']
    },
  },
  mounted() {
    this.user.token = getToken()
    this.getData()
  },

  methods: {
    async getData() {
      this.loading = true
      let page = 1
      if (
        this.articles.current_page &&
        this.articles.current_page < this.articles.last_page
      )
        page = this.articles.current_page + 1

      await this.$store.dispatch('article/fetchArticle', {
        params: { type: 'ARTICLE', page },
      })

      this.loading = false
    },

    async deleteData(id) {
      if (confirm('Do you really want to delete?')) {
        await this.$store
          .dispatch('article/deleteArticle', { id })
          .then((res) => {
            this.$store.dispatch('notif/setNotif', res)
            if (res.title !== 'error') {
              this.openForm = false
              this.getData()
            }
          })
      }
    },

    submitForm(data) {
      if (data.data.id) this.updateData(data.data)
      else this.storeData(data.data)
    },

    async updateData(data) {
      const payload = {
        id: data.id,
        title: data.title,
        body: data.description,
        is_published: 1,
        images: [data.image],
        remove_image_ids: [this.article.images[0].id],
        meta: JSON.stringify({
          description: data.title,
          keywords: data.keywords,
        }),
      }

      if (!data.image) {
        delete payload.images
        delete payload.remove_image_ids
      }

      await this.$store
        .dispatch('article/updateArticle', payload)
        .then((res) => {
          this.$store.dispatch('notif/setNotif', res)
          this.loadingForm = false
          if (res.title !== 'error') {
            this.openForm = false
            this.getData()
          }
        })
    },

    async storeData(data) {
      const meta = {
        keywords: data.keywords,
        description: data.title,
      }

      const payload = {
        title: data.title,
        body: data.description,
        images: [data.image],
        is_published: 1,
        type: 'ARTICLE',
        meta: JSON.stringify(meta),
      }

      await this.$store
        .dispatch('article/storeArticle', payload)
        .then((res) => {
          this.$store.dispatch('notif/setNotif', res)
          this.loadingForm = false
          if (res.title !== 'error') {
            this.openForm = false
            this.getData()
          }
        })
    },

    // usual function
    openArticle(data) {
      this.article = data
      this.formAction = 'article'
      this.defaultForm = data ? this.getDefaultData(data) : this.formArticle
      this.openForm = true
    },

    closeForm() {
      this.openForm = false
    },

    getDefaultData(payload) {
      const vm = this
      return this.formArticle.map((el) => {
        let data = {}
        if (el.field == 'id') {
          data = {
            ...el,
            value: (payload && payload.id) || '',
          }
        } else if (el.field == 'title') {
          data = {
            ...el,
            value: (payload && payload.title) || '',
          }
        } else if (el.field == 'keywords') {
          data = {
            ...el,
            value: (payload && payload.meta && payload.meta.keywords) || '',
          }
        } else if (el.field == 'description') {
          data = {
            ...el,
            value: (payload && payload.body) || '',
          }
        } else if (el.field == 'image') {
          data = {
            ...el,
            url: (payload && payload.images && payload.images[0].url) || '',
          }
        } else {
          data = { ...el }
        }

        return data
      })
    },
  },
}
</script>
