<template>
  <div>
    <div class="h-auto mb-10">
      <div class="h-96 bg-primary w-full">
        <img
          :src="data.images[0].url"
          :alt="data.title"
          class="w-full h-full object-cover rounded"
        />
      </div>

      <div class="px-5 md:px-14 mt-10">
        <div @click="$router.go(-1)">
          <span class="text-primary cursor-pointer italic underline"
            >&lt; Back</span
          >
        </div>
        <h1 class="text-3xl mt-2 text-gray-700">
          {{ data.title ? data.title : '' }}
        </h1>
        <div>
          <span class="text-primary">{{ data.updated_at | formatDate }}</span>
        </div>
        <div class="mt-5 class text-lg">
          <span v-html="data.body" />
        </div>
        <div class="mt-5">
          <span class="text-3xl">More Article</span>
          <hr class="w-16 pt-1 mt-1" />
        </div>
        <h2 v-if="!articles.length" class="my-5">No Article</h2>
        <div v-else class="mt-5 flex justify-between w-full">
          <nuxt-link
            :to="`/loa/${article.id}/${article.slug}`"
            v-for="(article, i) in articles"
            class="w-1/4 px-5"
            :key="i"
          >
            <div
              v-if="article.images && article.images.length > 0"
              class="bg-primary rounded w-full h-48"
            >
              <img
                :src="article.images[0].url"
                :alt="article.title"
                class="w-full h-full object-cover rounded"
              />
            </div>
            <div v-else class="bg-primary rounded w-full h-48" />
            <div class="text-2xl">{{ article.title }}</div>
            <div>
              <span class="text-primary cursor-pointer italic underline"
                >Read More</span
              >
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import https from 'https'
import axios from 'axios'

export default Vue.extend({
  data: () => ({}),

  async asyncData({ params }) {
    const httpsAgent = new https.Agent({ rejectUnauthorized: false })

    let data = {}

    const url = `${process.env.APP_API_URL}/public/articles/${params.id}`
    await axios
      .get(url, {
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        httpsAgent,
      })
      .then((res) => {
        data = res.data.data
      })
      .catch((err) => {
        console.log('err', err)
      })

    return { data }
  },

  computed: {
    articles() {
      return this.$store.getters['article/getOtherArticle']
    },
  },

  mounted() {
    this.getOtherArticle()
  },

  methods: {
    async getOtherArticle() {
      const params = {
        limit: 4,
        type: 'ARTICLE',
      }

      await this.$store.dispatch('article/fetchOtherArticle', {
        id: this.data.id,
        params,
      })
    },
  },

  head() {
    return {
      title: this.data && this.data.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.data && this.data.body,
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `${
            this.data && this.data.meta && this.data.meta.keywords
          }, hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park`,
        },
        { property: 'og:type', content: 'article' },
        { property: 'og:site_name', content: 'loalivingsolo.com' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: `https://www.loalivingsolo.com/loa/${this.$route.params.id}/${this.$route.params.slug}`,
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.data && this.data.title,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.data.body,
        },
        { property: 'og:image:width', content: '740' },
        { property: 'og:image:height', content: '300' },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.data && this.data.images && this.data.images[0].url,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@@loalivingsolo',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@@loalivingsolo',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/loa/${this.$route.params.id}/${this.$route.params.slug}`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.data && this.data.title,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.data.body,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.data && this.data.images && this.data.images[0].url,
        },
      ],
    }
  },
})
</script>
