<template>
  <div
    :id="'input-box' + parent"
    class="p-20"
    style="border-style: dashed; border-color: #eaeaea; border-width: 1px"
  >
    <div
      @dragover="dragover"
      @dragleave="dragleave"
      @drop="drop"
      class="text-center"
    >
      <input
        :id="'fileUpload' + parent"
        :accept="fileAccept"
        placeholder="Pilih File"
        outlined
        type="file"
        dense
        @change="onPickFile"
        style="display: none"
      />
      <span class="text-blue-400" style="cursor: pointer" @click="chooseFile"
        >Upload</span
      ><span> or drag and drop here</span>

      <div>
        <div class="text-center flex justify-center">
          <img class="max-h-60" :id="`image` + parent" :src="url" />
        </div>
        {{ file.file && file.file.name | '' }}
      </div>
      <h4 class="text-center red--text">
        {{ message }}
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    fileAccept: {
      default: 'image/png, image/jpeg, image/webp',
      type: String,
    },
    type: {
      default: 'image',
      type: String,
    },
    parent: {
      default: '',
      type: String,
    },
    url: {
      default: '',
      type: String,
    },
  },
  data: () => ({
    file: {},
    message: '',
  }),

  methods: {
    dragover(event) {
      document.getElementById('input-box' + this.parent).style.borderColor =
        '#2673ba'
      event.preventDefault()
    },
    dragleave(event) {
      document.getElementById('input-box' + this.parent).style.borderColor =
        '#eaeaea'
      console.info('leave', event)
    },
    drop(event) {
      event.preventDefault()
      document.getElementById('input-box' + this.parent).style.borderColor =
        '#eaeaea'

      const accept = this.fileAccept.split(', ')
      if (accept.includes(event.dataTransfer.files[0].type)) {
        this.file = event.dataTransfer.files[0]
        this.message = ''
        this.$emit('setValue', { field: this.parent, value: this.file.file })
      } else {
        this.message = 'please select file' + this.parent
        this.file = ''
      }
    },

    chooseFile() {
      document.getElementById('fileUpload' + this.parent).click()
    },

    onPickFile(event) {
      this.file = {
        path: URL.createObjectURL(event.target.files[0]),
        file: event.target.files[0],
      }

      const reader = new FileReader()

      reader.onload = (e) => {
        document.getElementById('image' + this.parent).src = e.target.result
      }

      reader.readAsDataURL(event.target.files[0])

      this.message = ''
      this.$emit('setValue', { field: this.parent, value: this.file.file })
    },
  },
}
</script>
