<template>
  <div class="bg-secondary">
    <div class="px-5 md:px-14 py-10 flex justify-between flex-wrap">
      <div class="md:w-2/6 lg:w-1/6 pb-10">
        <img
          class="object-cover"
          src="../assets/images/logo-footer.webp"
          alt="loa-footer"
        />
      </div>
      <div class="flex justify-between flex-wrap w-screen md:4/6 lg:w-4/6">
        <div class="pb-12 w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">Phone :</div>
          <div class="text-sm text-gray-50 mt-2">(0271) 2949959</div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">Contact :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://wa.link/ghcphu">081393100101</a>
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">Email :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="mailto:info@loalivingsolo.com">info@loalivingsolo.com</a>
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">Instagram :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://www.instagram.com/loaliving.soc/"
              >@loaliving.soc</a
            >
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">Facebook :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://www.facebook.com/loalivingsolo">@loalivingsolo</a>
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">twitter :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://twitter.com/loalivingsolo">@loalivingsolo</a>
          </div>
        </div>
        <div class="w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">Download Nearby Attraction</div>
        </div>
        <div class="w-1/2 md:w-1/3 lg:px-4">
          <div class="text-sm text-gray-50">
            Jln. Mayjen Sutoyo, Madegondo, Solo Baru, Sukoharjo 57552, Central
            Java
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data: () => {
    return {}
  },
})
</script>
