<template>
  <div class="min-h-screen grid place-items-center">
    <div class="flex items-center justify-center space-x-2 animate-pulse">
      <div class="w-4 h-4 bg-primary rounded-full"></div>
      <div class="w-4 h-4 bg-primary rounded-full"></div>
      <div class="w-4 h-4 bg-primary rounded-full"></div>
    </div>
  </div>
</template>
