<template>
  <div class="fixed w-full z-50 h-2/3 flex justify-center items-center fade-in">
    <div
      class="
        bg-white
        max-h-full
        w-2/3
        rounded
        shadow-2xl
        overflow-y-auto
        relative
      "
    >
      <div class="px-8 py-8">
        <div class="flex justify between">
          <span class="text-2xl">Form </span>
        </div>
        <div class="py-5" v-for="(fr, index) in defaultForm" :key="index">
          <input
            v-if="fr.type === 'id'"
            v-model="fr.value"
            type="text"
            hidden
          />
          <div>
            {{ fr.label }}
          </div>
          <div>
            <input
              v-if="fr.type === 'text'"
              v-model="fr.value"
              type="text"
              class="border border-gray-200 rounded w-full p-2"
            />
            <input
              v-if="fr.type === 'number'"
              v-model="fr.value"
              type="number"
              class="border border-gray-200 rounded w-full p-2"
            />
            <input
              v-if="fr.type === 'password'"
              v-model="fr.value"
              type="password"
              class="border border-gray-200 rounded w-full p-2"
            />
            <textarea
              v-if="fr.type === 'arraystring'"
              v-model="fr.value"
              class="border border-gray-200 rounded w-full p-2"
            />
            <quill-editor
              v-if="fr.type === 'wysiwyg'"
              v-model="fr.value"
              class="min-h-96"
            />
            <drag-drop-file
              v-if="fr.type === 'image'"
              :parent="fr.field"
              @setValue="setValueImage"
              :url="fr.url"
            />
            <select
              v-if="fr.type === 'select'"
              v-model="fr.value"
              class="border border-gray-200 rounded w-full mt-5 p-2"
            >
              <option
                v-for="(opt, index) in fr.options"
                :key="index"
                :label="opt.label"
                :value="opt.value"
              />
            </select>
          </div>
        </div>
      </div>

      <div class="sticky bottom-0">
        <div class="flex justify-center" v-if="!loading">
          <button
            @click="closeForm"
            class="bg-secondary text-white w-1/2 py-2 px-5"
          >
            Cancel
          </button>
          <button class="bg-primary w-1/2 py-2 px-5" @click="submitForm">
            Submit
          </button>
        </div>
        <div v-else>
          <button class="bg-secondary text-white w-full py-2 px-5">
            <div class="flex justify-center text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 animate-spin"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import DragDropFile from './DragDropFile.vue'
export default Vue.extend({
  components: { DragDropFile },
  props: {
    title: {
      default: 'Slider',
      type: String,
    },
    action: {
      default: '',
      type: String,
    },
    form: {
      default: [],
      type: Array,
    },
    loading: {
      default: false,
      type: Boolean,
    },
  },
  data: () => {
    return {
      defaultForm: [],
    }
  },

  created() {
    this.defaultForm = [...this.form] as any
  },

  methods: {
    setValueImage(e: any) {
      const res = this.defaultForm.map((el) => {
        if ((el as any).field === e.field)
          return { ...(el as any), value: e.value }
        else return el
      })

      this.defaultForm = res as any
    },
    closeForm() {
      this.$emit('closeForm')
    },
    submitForm() {
      let res = {}
      this.defaultForm.map((el: any) => {
        res = { ...res, [el.field]: el.value }
      })
      this.$emit('submitForm', { action: this.action, data: res })
    },
  },
})
</script>
