<template>
  <div class="md:px-14 h-20 flex justify-between items-center bg-white">
    <div class="w-1/2 px-5 md:w-3/12 md:pr-3 lg:w-1/6 sm:px-0 z-10">
      <nuxt-link :to="'/'" aria-label="Loaliving">
        <img
          class="object-contain"
          :src="require(`~/assets/images/logo.webp`)"
          alt="loa"
        />
      </nuxt-link>
    </div>
    <nav
      class="
        sm:block
        w-full
        md:w-9/12
        lg:3/6
        md:flex
        justify-between
        items-center
        absolute
        top-0
        md:relative
        p-5
        md:p-2
        h-screen
        sm:h-auto
        mt-16
        sm:mt-0
        bg-white
        md:bg-transparent
        origin-top
        duration-300
        scale-y-0
        overflow-hidden
        transform
        sm:transform-none
        z-50
      "
      id="nav-menus"
    >
      <div
        v-for="(menu, index) in menuLists"
        :key="index"
        class="text-xl mt-5 cursor-pointer sm:mt-0 hover:text-gray-500"
        :class="$route.name === menu.route ? 'text-primary' : 'text-gray-700'"
        @click="changeMenu(menu.route)"
      >
        {{ menu.label }}
      </div>
      <div class="py-5 sm:p-0">
        <button
          @click="changeMenu('book')"
          class="bg-primary w-full h-8 lg:h-10 rounded px-2"
        >
          Book Now
        </button>
      </div>
    </nav>
    <div class="block md:hidden pr-4 z-10" id="nav-button" @click="showMenu">
      <img
        v-if="!openMenu"
        width="25"
        src="../assets/icons/menu.svg"
        alt="menu"
      />
      <img v-else width="25" src="../assets/icons/menu-close.svg" alt="close" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data: () => {
    return {
      openMenu: false,

      menuLists: [
        { label: 'LOA', route: 'loa' },
        { label: 'Room', route: 'room' },
        { label: 'About', route: 'about' },
        { label: 'Contact', route: 'contact' },
        { label: 'Coworking', route: 'coworking' },
        { label: 'Gallery', route: 'gallery' },
      ],
    }
  },

  watch: {
    $route() {
      if (this.openMenu) {
        this.showMenu()
      }
    },
  },

  methods: {
    showMenu() {
      setTimeout(() => {
        const menus = document.getElementById('nav-menus')
        menus?.classList.toggle('transform')
      }, 100)
      this.openMenu = this.openMenu ? false : true
    },

    changeMenu(route: any) {
      this.$router.push({ name: route })
    },
  },
})
</script>
