<template>
  <div
    v-if="title !== '' && message !== ''"
    class="fade-in border px-4 py-3 rounded fixed top-10 right-10 z-50 w-auto"
    role="alert"
    :class="{
      'bg-red-100 border-red-400 text-red-700': title === 'error',
      'bg-green-100 border-green-400 text-green-700': title === 'success',
    }"
  >
    <strong class="font-bold">{{ title }}</strong>
    <span class="block sm:inline">{{ message }}</span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    title: {
      default: '',
      type: String,
    },
    message: {
      default: '',
      type: String,
    },
  },

  watch: {
    message() {
      setTimeout(() => {
        this.$store.dispatch('notif/setNotif', { title: '', message: '' })
      }, 3000)
    },
  },

  data: () => ({}),
})
</script>
