<template>
  <div>
    <div v-show="loading">
      <loading />
    </div>
    <div v-show="!loading">
      <article-list />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  head() {
    return {
      title: 'LOA',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'LOA or the abbreviation of Law Of Attraction is usually defined as the law of attraction where whatever we focus on in our thoughts and feel- ings will be "attracted" and present into our lives consciously or uncon- sciously, good or bad, desirable or undesirable',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'LOA',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'LOA or the abbreviation of Law Of Attraction is usually defined as the law of attraction where whatever we focus on in our thoughts and feel- ings will be "attracted" and present into our lives consciously or uncon- sciously, good or bad, desirable or undesirable',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'LOA',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content:
            'LOA or the abbreviation of Law Of Attraction is usually defined as the law of attraction where whatever we focus on in our thoughts and feel- ings will be "attracted" and present into our lives consciously or uncon- sciously, good or bad, desirable or undesirable',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },
})
</script>
