@font-face {
  font-family: 'Arsenal';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: local('Arsenal'),
    url('~assets/fonts/Arsenal/Arsenal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: local('Arsenal'),
    url('~assets/fonts/Arsenal/Arsenal-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal';
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: local('Arsenal'),
    url('~assets/fonts/Arsenal/Arsenal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Arsenal';
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: local('Arsenal'),
    url('~assets/fonts/Arsenal/Arsenal-BoldItalic.ttf') format('truetype');
}

html {
  font-family: 'Arsenal' !important;
}

.text-primary {
  color: #cfb687;
}

hr {
  background-color: #cfb687;
  height: 2px !important;
  text-align: left;
  margin-left: 0;
}

.text-secondary {
  color: #a3a3a3;
}

.border-primary {
  border: 1px solid #cfb687;
}
.bg-primary {
  background: #cfb687;
}
.bg-secondary {
  background: #7e7e7e;
}

.bg-green-old {
  background: #0e4438;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.bg-image-primary {
  background-image: url('~assets/images/bg-primary.webp');
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.bg-image-secondary {
  background-image: url('~assets/images/bg-secondary.webp');
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.bg-image-book {
  background-image: url('~assets/images/book/bg-book.webp');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gallery {
  background-image: url('~assets/images/bg-gallery.webp');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-white {
  background-image: url('~assets/images/bg-white.webp');
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.point img {
  height: 15px;
  object-fit: cover;
}

.slick-dots {
  bottom: 10px !important;
}

.fade-in {
  animation: fadein-down 0.5s;
}

@media screen and (max-width: 812px) {
  html,
  body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    overflow-x: hidden !important;
  }
}

@keyframes fadein-down {
  0% {
    opacity: 0;
    margin-top: -10vh;
  }
  100% {
    opacity: 100;
    margin-top: 0vh;
  }
}
