<template>
  <div>
    <div>
      <Navigation />
    </div>
    <Notif :title="notif.title" :message="notif.message" />
    <div>
      <Nuxt />
    </div>
    <div v-if="$route.name !== 'contact'">
      <Footer />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  watch: {
    $route() {
      document.body.scrollTop = 0
      document.documentElement.scrollTop = 0
    },
  },

  computed: {
    notif() {
      return this.$store.getters['notif/getNotif']
    },
  },
})
</script>
