<template>
  <div>
    <div v-show="loading">
      <loading />
    </div>
    <div v-show="!loading">
      <ModalForm
        v-if="openForm"
        @closeForm="closeForm"
        @submitForm="submitForm"
        :action="formAction"
        :form="defaultForm"
        :loading="loadingForm"
      />
      <div
        class="
          bg-image-secondary bg-green-old
          p-5
          md:p-10
          lg:p-14
          flex flex-wrap
          lg:flex-nowrap
          justify-between
          items-center
          text-white
          items-center
        "
      >
        <div
          class="w-screen lg:w-3/6 md:mr-5 pb-5"
          v-viewer="optionViewer"
          style="cursor: zoom-in"
        >
          <div v-if="section1.images && section1.images[0]" class="xl:mr-10">
            <img :src="section1.images[0].url" alt="about-banner" />
          </div>
        </div>
        <div class="w-screen lg:w-3/6" v-show="section1">
          <div class="text-5xl">{{ section1.title }}</div>
          <div class="text-xl my-10 ql-snow">
            <span class="ql-editor" v-html="section1.body"></span>
          </div>
          <div class="text-right">
            <button
              v-if="user && user.token"
              @click="openFormSection1"
              class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
      <div
        class="
          h-full
          bg-white
          p-5
          md:p-10
          lg:p-14
          flex flex-wrap
          justify-between
          text-gray-700
        "
      >
        <div class="lg:w-3/6 sm:pr-24">
          <div class="mt-2 self-center md:h-1/2 text-justify">
            <span v-html="section2.body"></span>
          </div>
          <div class="text-right">
            <button
              v-if="user && user.token"
              @click="openFormSection2"
              class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
            >
              Edit
            </button>
          </div>
          <div class="mt-5 flex lg:w-4/6 flex-wrap justify-between md:h-1/2">
            <div>index</div>
            <div>
              <div class="point mt-4 flex items-center">
                <img src="../assets/images/about/loa.webp" alt="about-banner" />
                <span class="ml-6">LOA Living</span>
              </div>
              <div class="mt-1">
                <div class="point mt-4 flex items-center">
                  <img
                    src="../assets/images/about/food.webp"
                    alt="about-banner"
                  />
                  <span class="ml-6">Food & Beverage</span>
                </div>
              </div>
              <div class="mt-1">
                <div class="point mt-4 flex items-center">
                  <img
                    src="../assets/images/about/entertainment.webp"
                    alt="about-banner"
                  />
                  <span class="ml-6">Entertainment / Shoping </span>
                </div>
              </div>
              <div class="mt-1">
                <div class="point mt-4 flex items-center">
                  <img
                    src="../assets/images/about/service.webp"
                    alt="about-banner"
                  />
                  <span class="ml-6"> Publice Service / Place </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:w-3/6" v-viewer="optionViewer" style="cursor: zoom-in">
          <img src="../assets/images/about/map.webp" alt="map" />
        </div>
      </div>
      <div
        class="
          h-full
          bg-white
          p-5
          md:p-10
          lg:p-14
          flex flex-wrap
          justify-between
        "
      >
        <div
          class="w-screen lg:w-3/6"
          v-viewer="optionViewer"
          style="cursor: zoom-in"
        >
          <div v-if="section3.images" class="xl:mr-10">
            <img :src="section3.images[0].url" alt="about-banner" />
          </div>
        </div>
        <div class="w-screen lg:w-3/6 text-gray-700" v-show="section3">
          <div class="text-4xl">{{ section3.title }}</div>
          <div class="text-xl mt-10 ql-snow">
            <span class="ql-editor" v-html="section3.body"></span>
          </div>
          <div class="text-right">
            <button
              v-if="user && user.token"
              @click="openFormSection3"
              class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { getToken } from '~/common/utils'

export default Vue.extend({
  head() {
    return {
      title: 'About',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'LOA Living is inspired by LOA or “Law Of Attraction” which is the law where whatever we focus on in our mind will manifest.LOA Living Solo Baru is strategically located in Solo Baru, 3 minutes from Hartono Mall. It has 60 rooms with 7 different types and guests can enjoy free WiFi access which is available in all areas of the hotel',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'About',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'LOA Living is inspired by LOA or “Law Of Attraction” which is the law where whatever we focus on in our mind will manifest.LOA Living Solo Baru is strategically located in Solo Baru, 3 minutes from Hartono Mall. It has 60 rooms with 7 different types and guests can enjoy free WiFi access which is available in all areas of the hotel',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com/about`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/about`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'About Loaliving',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content:
            'LOA Living is inspired by LOA or “Law Of Attraction” which is the law where whatever we focus on in our mind will manifest.LOA Living Solo Baru is strategically located in Solo Baru, 3 minutes from Hartono Mall. It has 60 rooms with 7 different types and guests can enjoy free WiFi access which is available in all areas of the hotel',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },

  data: () => ({
    user: {},

    optionViewer: {
      navbar: false,
      toolbar: false,
    },
    loading: true,
    loadingForm: false,
    openForm: false,
    formAction: '',
    defaultForm: {},

    formSection1: [
      { field: 'image', type: 'image', label: 'Image', value: '' },
      {
        field: 'description',
        type: 'wysiwyg',
        label: 'Description',
        value: '',
      },
    ],

    formSection2: [
      {
        field: 'description',
        type: 'wysiwyg',
        label: 'Description',
        value: '',
      },
    ],

    formSection3: [
      { field: 'image', type: 'image', label: 'Image', value: '' },
      {
        field: 'description',
        type: 'wysiwyg',
        label: 'Description',
        value: '',
      },
    ],
  }),
  computed: {
    section1() {
      return this.$store.getters['about/getSection1']
    },
    section2() {
      return this.$store.getters['about/getSection2']
    },
    section3() {
      return this.$store.getters['about/getSection3']
    },
  },
  mounted() {
    ;(this.user as any).token = getToken()
    this.getData()
  },
  methods: {
    async getData() {
      this.loading = true
      await this.$store.dispatch('about/fetchAbout', {
        params: { type: 'ABOUT' },
      })

      this.loading = false
    },

    openFormSection1() {
      const vm = this
      this.defaultForm = this.formSection1.map((el) => {
        let data = {}
        if (el.field == 'description') {
          data = {
            ...el,
            value: vm.section1.body,
          }
        } else if (el.field == 'image') {
          data = {
            ...el,
            url: vm.section1.images[0].url,
          }
        } else {
          data = { ...el }
        }

        return data
      })
      this.formAction = 'section1'
      this.openForm = true
    },

    openFormSection2() {
      const vm = this
      this.defaultForm = this.formSection2.map((el) => {
        let data = {}
        if (el.field == 'description') {
          data = {
            ...el,
            value: vm.section2.body,
          }
        } else {
          data = { ...el }
        }

        return data
      })

      this.formAction = 'section2'
      this.openForm = true
    },

    openFormSection3() {
      const vm = this
      this.defaultForm = this.formSection3.map((el) => {
        let data = {}
        if (el.field == 'description') {
          data = {
            ...el,
            value: vm.section3.body,
          }
        } else if (el.field == 'image') {
          data = {
            ...el,
            url: vm.section3.images[0].url,
          }
        } else {
          data = { ...el }
        }

        return data
      })
      this.formAction = 'section3'
      this.openForm = true
    },

    closeForm() {
      this.openForm = false
    },

    async submitForm(data: any) {
      this.loadingForm = true

      let sectionData = { id: '', images: [], meta: {} }
      let removeImages = []
      let images: any[] = []

      if (data.action == 'section1') sectionData = this.section1
      if (data.action == 'section2') sectionData = this.section2
      if (data.action == 'section3') sectionData = this.section3

      if (data.data.image) {
        removeImages = sectionData.images.map((el: any) => el.id)
        images = Object.entries(data.data)
          .filter((el) => el[1] instanceof File)
          .map((el) => el[1])
      }
      const payload = {
        id: sectionData.id,
        body: data.data.description,
        remove_image_ids: removeImages,
        is_published: 1,
      }

      if (images.length > 0) (payload as any).images = images
      if (removeImages.length > 0)
        (payload as any).remove_image_ids = removeImages

      // update
      await this.$store.dispatch('about/update', payload).then((res) => {
        this.$store.dispatch('notif/setNotif', res)
        this.loadingForm = false
        if (res.title !== 'error') {
          this.openForm = false

          this.getData()
        }
      })
    },
  },
})
</script>
