<template>
  <div class="bg-image-primary grid place-items-center">
    <ModalForm
      v-if="openForm"
      @closeForm="closeForm"
      @submitForm="submitForm"
      :action="formAction"
      :form="defaultForm"
      :loading="loadingForm"
    />
    <div
      id="card"
      class="
        sm:w-4/6
        md:w-3/4
        lg:w-3/6
        mx-2
        bg-white
        shadow-sm
        rounded-lg
        py-5
        px-5
      "
    >
      <div v-if="!token">
        <div class="mb-2">
          <div>Email</div>
          <div>
            <input
              class="bg-gray rounded p-2 w-full"
              type="text"
              v-model="email"
            />
          </div>
        </div>

        <div class="mb-2">
          <div>Password</div>
          <div>
            <input
              class="bg-gray rounded p-2 w-full"
              type="password"
              v-model="password"
            />
          </div>
        </div>
      </div>
      <div class="mt-5">
        <div v-if="!token">
          <button
            @click="login()"
            class="
              bg-primary
              py-2
              px-2
              rounded-sm
              w-full
              focus:ring-1 focus:ring-blue-200
              flex
              justify-center
              items-center
            "
          >
            <div class="animate-spin mx-1" v-if="loading">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            Login
          </button>
        </div>
        <div v-else class="flex">
          <button
            @click="openFormPassword()"
            class="
              bg-secondary
              py-2
              px-2
              rounded-md
              w-full
              focus:ring-1 focus:ring-blue-200
              text-white
              mx-1
            "
          >
            Change Password
          </button>
          <button
            @click="logout()"
            class="
              bg-primary
              py-2
              px-2
              rounded-md
              w-full
              focus:ring-1 focus:ring-blue-200
              mx-1
            "
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
input {
  background-color: #eaeaea !important;
}
</style>

<script>
import { getToken } from '~/common/utils'
export default {
  data() {
    return {
      email: '',
      password: '',
      token: undefined,
      loading: false,

      loadingForm: false,
      openForm: false,
      formAction: '',
      defaultForm: {},

      formChangePassword: [
        { field: 'password', type: 'password', label: 'Password', value: '' },
        {
          field: 'password_confirmation',
          type: 'password',
          label: 'Verify Password',
          value: '',
        },
      ],
    }
  },
  mounted() {
    this.token = getToken()
  },
  methods: {
    async login() {
      this.loading = true
      const data = {
        email: this.email,
        password: this.password,
      }
      await this.$store.dispatch('auth/login', data).then((res) => {
        this.$store.dispatch('notif/setNotif', res)

        this.loading = false
        if (res.title !== 'error') {
          this.$router.push('/')
        }
      })
    },
    logout() {
      window.localStorage.removeItem('loalivingsoloauth')
      this.token = undefined
    },

    closeForm() {
      this.openForm = false
    },

    openFormPassword() {
      this.defaultForm = [...this.formChangePassword]
      this.formAction = 'password'
      this.openForm = true
    },

    submitForm(payload) {
      this.loadingForm = false

      this.$store.dispatch('auth/updatePassword', payload.data).then((res) => {
        this.$store.dispatch('notif/setNotif', res)
        this.loadingForm = false
        if (res.title !== 'error') {
          this.openForm = false
          this.logout()
        }
      })
    },
  },
}
</script>
