<template>
  <div class="bg-image-book h-screen">
    <div class="px-5 h-2/3 flex justify-center items-center">
      <div
        class="
          w-full
          lg:w-2/3
          h-2/3
          lg:h-auto
          border-4 border-grey-500 border-opacity-50
          bg-white
          p-2
          lg:p-10
          flex
          justify-between
          flex-col
          lg:flex-row
        "
      >
        <div class="w-full lg:w-1/4 px-2">
          <div>Check In</div>
          <input
            type="date"
            placeholder="Check In"
            v-model="checkIn"
            :min="minDate"
            class="bg-gray rounded p-2 w-full"
          />
        </div>
        <div class="w-full lg:w-1/4 px-2">
          <div>Check Out</div>
          <input
            type="date"
            placeholder="Check Out"
            v-model="checkOut"
            :min="checkIn"
            class="bg-gray rounded p-2 w-full"
          />
        </div>
        <div class="w-full lg:w-1/4 px-2">
          <div>Promo Code</div>
          <input
            type="text"
            v-model="promoCode"
            class="bg-gray rounded p-2 w-full"
          />
        </div>
        <div class="w-full lg:w-1/4 px-2">
          <button
            class="bg-primary w-full rounded py-2 px-5"
            @click="makeReservation"
          >
            Make a <br />Reservation
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
input {
  background-color: #eaeaea !important;
}

input[type="date"]
{
  display:block !important;
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  min-height: 1.2em;
}
</style>

<script>
import Vue from 'vue'
export default Vue.extend({
  head() {
    return {
      title: 'Book Now',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'LOA Living Solo is strategically situated in Solo Baru, just a 3-minute walk from Hartono Mall. Has 60 rooms with 7 different type also guests can enjoy complimentary WiFi access in all areas of the property.',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Contact',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'LOA Living Solo is strategically situated in Solo Baru, just a 3-minute walk from Hartono Mall. Has 60 rooms with 7 different type also guests can enjoy complimentary WiFi access in all areas of the property.',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com/contact`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/contact`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Contact Loaliving',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content:
            'LOA Living Solo is strategically situated in Solo Baru, just a 3-minute walk from Hartono Mall. Has 60 rooms with 7 different type also guests can enjoy complimentary WiFi access in all areas of the property.',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },

  data: () => ({
    dateNow: new Date(),
    minDate: new Date().toISOString().slice(0, 10),
    checkIn: '',
    checkOut: '',
    promoCode: '',
    roomId: '',
  }),

  mounted() {
    this.checkIn = this.dateNow.toISOString().slice(0, 10)
    this.checkOut = new Date(this.dateNow.setDate(this.dateNow.getDate() + 1))
      .toISOString()
      .slice(0, 10)
    this.roomId = this.$route.query && this.$route.query.room
  },

  methods: {
    makeReservation() {
      window.open(
        `https://www.bookandlink.com/booking/booking-page.php?id=2141&promo=${
          this.promoCode
        }&roomid=${this.roomId}&checkin=${this.formattedDate(
          this.checkIn
        )}&checkout=${this.formattedDate(this.checkOut)}`,
        '_blank'
      )
    },

    formattedDate(dateString) {
      const d = new Date(dateString)
      let month = String(d.getMonth() + 1)
      let day = String(d.getDate())
      const year = String(d.getFullYear())

      if (month.length < 2) month = '0' + month
      if (day.length < 2) day = '0' + day

      return `${day}-${month}-${year}`
    },
  },
})
</script>
