<template>
  <div class="bg-secondary bg-image-secondary h-screen lg:py-20">
    <div class="px-5 md:px-14 py-10 flex justify-between flex-wrap">
      <h1 class="text-4xl w-screen sm:w-auto text-white">Contact</h1>
      <div class="flex justify-between flex-wrap w-screen py-10 lg:w-1/2">
        <div class="pb-12 w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">Phone :</div>
          <div class="text-sm text-gray-50 mt-2">(0271) 2949959</div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">Contact :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://wa.link/ghcphu">081393100101</a>
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">Email :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="mailto:info@loalivingsolo.com">info@loalivingsolo.com</a>
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">Instagram :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://www.instagram.com/loaliving.soc/"
              >@loaliving.soc</a
            >
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">Facebook :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://www.facebook.com/loalivingsolo">@loalivingsolo</a>
          </div>
        </div>
        <div class="pb-12 w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">twitter :</div>
          <div class="text-sm text-gray-50 mt-2">
            <a href="https://twitter.com/loalivingsolo">@loalivingsolo</a>
          </div>
        </div>
        <div class="w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">Download Nearby Attraction</div>
        </div>
        <div class="w-1/2 md:w-1/3 md:px-4">
          <div class="text-sm text-gray-50">
            Jln. Mayjen Sutoyo, Madegondo, Solo Baru, Sukoharjo 57552, Central
            Java
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  head() {
    return {
      title: 'Contact',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Customer Service Ready 24/7 Book a room at LOA Now',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Contact',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Customer Service Ready 24/7 Book a room at LOA Now',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com/contact`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/contact`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Contact Loaliving',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Customer Service Ready 24/7 Book a room at LOA Now',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },
})
</script>
