<template>
  <div class="min-h-screen">
    <div v-show="loading">
      <loading />
    </div>
    <div v-show="!loading">
      <ModalForm
        v-if="openForm"
        @closeForm="closeForm"
        @submitForm="submitForm"
        :action="formAction"
        :form="defaultForm"
        :loading="loadingForm"
      />

      <div class="bg-gallery h-36 flex justify-center flex-wrap content-center">
        <h1 class="text-4xl text-gray-700 text-center w-full">Coworking</h1>
      </div>
      <div class="px-5 md:px-14 mt-10 w-full flex items-center flex-wrap">
        <div class="sm:w-1/2 sm:pr-10 md:pr-20 lg:pr-36">
          <div>
            <span class="text-3xl text-gray-700">Coworking</span>
          </div>
          <div class="my-5">
            <span class="text-lg text-gray-700">{{
              coworking && coworking.title
            }}</span>
          </div>
          <div v-if="coworking.body" class="ql-snow">
            <span
              class="text-md text-gray-700 ql-editor"
              v-html="coworking.body"
            ></span>
          </div>
          <div class="flex justify-between my-10">
            <img
              width="30"
              height="30"
              :src="require(`~/assets/images/coworking/wifi.webp`)"
            />
            <img
              width="30"
              height="30"
              :src="require(`~/assets/images/coworking/coffeebreak.webp`)"
            />
            <img
              width="30"
              height="30"
              :src="require(`~/assets/images/coworking/food_snack.webp`)"
            />
            <img
              width="30"
              height="30"
              :src="require(`~/assets/images/coworking/lift.webp`)"
            />
            <img
              width="30"
              height="30"
              :src="require(`~/assets/images/coworking/smoke.webp`)"
            />
          </div>
          <div class="mt-10 flex w-full">
            <button
              @click="whatsapp()"
              class="bg-primary text-white rounded px-3 py-1 my-5 md:mt-0"
            >
              Reservation
            </button>

            <button
              v-if="user && user.token"
              @click="openCoworking()"
              class="bg-secondary text-white rounded px-3 py-1 my-5 md:mt-0 mx-3"
            >
              Edit
            </button>
          </div>
        </div>
        <div class="w-full sm:w-1/2">
          <VueSlickCarousel
            v-if="coworking && coworking.images"
            v-bind="{
              ...carouselSettings,
              autoplay: user && user.token ? false : true,
            }"
          >
            <div
              v-for="(slider, index) in coworking.images"
              :key="index"
              class="relative p-8"
            >
              <img
                class="aspect-ratio-16/9 object-cover object-contain"
                :src="slider.url"
                :alt="slider.name"
              />
            </div>
          </VueSlickCarousel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { getToken } from '~/common/utils'

export default {
  components: { VueSlickCarousel },

  head() {
    return {
      title: 'coworking',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Customer Service Ready 24/7 Book a room at LOA Now',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'coworking',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Customer Service Ready 24/7 Book a room at LOA Now',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com/coworking`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/coworking`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'coworking Loaliving',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Customer Service Ready 24/7 Book a room at LOA Now',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },

  data: () => ({
    carouselSettings: {
      lazyLoad: 'progressive',
      autoplaySpeed: 3000,
      dots: false,
      fade: false,
      pauseOnHover: false,
      arrows: true,
      infinite: true,
      speed: 1000,
      slidesToShow: 1,
      slidesToScroll: 1,
    },

    loading: false,
    loadingForm: false,

    openForm: false,

    formAction: '',
    defaultForm: {},

    user: {},

    formCoworking: [
      { field: 'title', type: 'text', label: 'Title', value: '' },
      {
        field: 'description',
        type: 'wysiwyg',
        label: 'Description',
        value: '',
      },
      { field: 'image1', type: 'image', label: 'Image 1', value: '' },
      { field: 'image2', type: 'image', label: 'Image 2', value: '' },
      { field: 'image3', type: 'image', label: 'Image 3', value: '' },
    ],
  }),

  async asyncData(context) {
    const data = { params: { type: 'COWORKING' } }

    await Promise.all([
      context.store.dispatch('coworking/fetchCoworking', data),
    ])
  },

  computed: {
    coworking() {
      return this.$store.getters['coworking/getCoworking']
    },
    token() {
      return this.user.token
    },
  },

  mounted() {
    this.user.token = getToken()
    this.setInitData()
  },

  methods: {
    async setInitData() {
      await this.$store.dispatch('coworking/fetchCoworking', {
        params: { type: 'COWORKING' },
      })
    },

    openCoworking() {
      const vm = this
      this.formAction = 'coworking'
      this.defaultForm = this.formCoworking.map((el) => {
        let data = {}

        if (el.field == 'title') {
          data = {
            ...el,
            value: this.coworking.title,
          }
        } else if (el.field == 'id') {
          data = {
            ...el,
            value: this.coworking.id,
          }
        } else if (el.field == 'description') {
          data = {
            ...el,
            value: this.coworking.body,
          }
        } else if (el.field == 'image1') {
          data = {
            ...el,
            url: this.coworking.images[0] && this.coworking.images[0].url,
          }
        } else if (el.field == 'image2') {
          data = {
            ...el,
            url: this.coworking.images[1] && this.coworking.images[1].url,
          }
        } else if (el.field == 'image3') {
          data = {
            ...el,
            url: this.coworking.images[2] && this.coworking.images[2].url,
          }
        } else {
          data = { ...el }
        }
        return data
      })
      this.openForm = true
    },

    submitForm(data) {
      this.loadingForm = true

      const payload = {
        id: this.coworking.id,
        is_published: 1,
        body: data.data.description,
        ...data.data,
      }

      delete payload.desciption

      const imgFiles = Object.entries(data.data).filter(
        (el) => el[1] instanceof File
      )

      const images = imgFiles.map((el) => el[1])

      // add remove image
      const arrImages = imgFiles.map((el) => el[0].match(/\d+/)[0] - 1)
      const removeImages = []

      arrImages.forEach((el) => {
        removeImages.push(this.coworking.images[el].id)
      })

      images.length > 0 && (payload.images = images)
      removeImages.length > 0 &&
        images.length > 0 &&
        (payload.remove_image_ids = removeImages)

      delete payload.image1
      delete payload.image2
      delete payload.image3

      this.$store.dispatch('article/updateArticle', payload).then((res) => {
        this.$store.dispatch('notif/setNotif', res)
        this.loadingForm = false
        if (res.title !== 'error') {
          this.openForm = false
          this.setInitData()
        }
      })
    },

    closeForm() {
      this.openForm = false
    },

    whatsapp() {
      window.open(
        'https://api.whatsapp.com/send?phone=6281393100101&text=Halo%20LOA%2C%20saya%20(nama)%20minta%20info%20untuk%20reservasi%20coworking%20ya',
        '_blank'
      )
    },
  },
}
</script>

<style>
.slick-next {
  position: absolute !important;
  right: 45px !important;
  z-index: 10;
}
.slick-prev {
  position: absolute !important;
  left: 45px !important;
  z-index: 10;
}
</style>
