<template>
  <div>
    <loading v-if="loading" />
    <div v-else>
      <ModalForm
        v-if="openForm"
        @closeForm="closeForm"
        @submitForm="submitForm"
        :action="formAction"
        :form="defaultForm"
        :loading="loadingForm"
      />

      <div class="bg-gallery h-36 flex justify-center flex-wrap content-center">
        <h1 class="text-4xl text-gray-700 text-center w-full">Gallery</h1>
      </div>

      <div class="flex justify-center flex-wrap my-20">
        <div
          v-for="category in categories"
          :key="category"
          class="px-3 py-2 mx-1 my-2 border border-primary rounded text-primary cursor-pointer"
          :class="selectedCategory === category ? 'bg-primary text-white' : ''"
          @click="filterCategory(category)"
        >
          {{ category }}
        </div>

        <div
          v-if="user && user.token"
          @click="openFormGallery"
          class="px-3 py-2 mx-1 my-2 rounded text-white cursor-pointer bg-secondary"
        >
          Add Image
        </div>
      </div>
      <div
        v-if="gallery && !gallery.data.length"
        class="text-center uppercase mb-10"
      >
        No image right now
      </div>
      <div v-else id="app">
        <vue-masonry-wall
          v-if="gallery && gallery.data"
          :items="gallery.data"
          :options="options"
          @append="append"
        >
          <template v-slot:default="{ item }">
            <div class="item relative">
              <img :src="item && item.url" />
              <div class="absolute right-5 top-5" v-if="user && user.token">
                <button
                  v-if="item && item.id"
                  @click="deleteImage(item)"
                  class="w-full text-center bg-secondary p-2 text-white pointer rounded"
                >
                  Delete
                </button>
              </div>
            </div>
          </template>
        </vue-masonry-wall>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueMasonryWall from 'vue-masonry-wall'
import { getToken } from '~/common/utils'

export default Vue.extend({
  components: {
    VueMasonryWall,
  },

  head() {
    return {
      title: 'Gallery',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Loaliving Galleries',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Gallery',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Loaliving Galleries',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com/room`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/room`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Gallery',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Loaliving Galleries',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },

  data() {
    return {
      user: {},
      options: {
        width: 400,
        padding: {
          default: 6,
        },
      },

      loading: false,

      openForm: false,
      formAction: '',
      defaultForm: {},

      formGallery: [
        {
          field: 'category',
          type: 'select',
          label: 'Category',
          value: '',
          options: [
            { label: 'Room', value: 'ROOM' },
            { label: 'Building', value: 'BUILDING' },
            { label: 'Coworking', value: 'COWORKING' },
            { label: 'Guest', value: 'GUEST' },
            { label: 'Vibes', value: 'VIBES' },
          ],
        },
        { field: 'image', type: 'image', label: 'Image', value: '' },
      ],

      categories: ['Room', 'Building', 'Coworking', 'Guest', 'Vibes'],
      selectedCategory: '',

      params: { type: 'GALLERY', per_page: 10, page: 1 },

      loading: false,
      loadingForm: false,
    }
  },

  created() {
    this.loading = true
  },

  mounted() {
    this.user.token = getToken()
    this.getData(this.params)
  },
  computed: {
    gallery() {
      return this.$store.getters['gallery/getGallery']
    },
  },

  methods: {
    async getData(params) {
      this.loading = true

      const data = { params }
      await this.$store.dispatch('gallery/fetchGallery', data)
      this.loading = false
    },

    filterCategory(payload) {
      if (this.selectedCategory !== payload) {
        this.params = {
          ...this.params,
          page: 1,
          category: payload.toUpperCase(),
        }
        this.selectedCategory = payload
      } else {
        this.params = { ...this.params, page: 1 }
        delete this.params.category
        this.selectedCategory = ''
      }

      this.getData(this.params)
    },

    append() {
      if (this.params.page < this.gallery.last_page) {
        this.params.page += 1
        this.getData(this.params)
      }
    },

    openFormGallery() {
      this.defaultForm = [...this.formGallery]
      this.formAction = 'gallery'
      this.openForm = true
    },

    closeForm() {
      this.openForm = false
    },

    async submitForm({ action, data }) {
      this.loadingForm = true

      await this.$store
        .dispatch('gallery/uploadGallery', {
          type: action.toUpperCase(),
          image: data.image,
          category: data.category,
        })
        .then((res) => {
          this.$store.dispatch('notif/setNotif', res)
          this.loadingForm = false
          if (res.title !== 'error') {
            this.openForm = false

            this.params = { ...this.params, page: 1 }
            this.getData(this.params)
          }
        })
    },

    async deleteImage(payload) {
      if (confirm('Do you really want to delete?')) {
        const data = {
          id: payload.id,
        }

        await this.$store
          .dispatch('gallery/deleteGallery', data)
          .then((res) => {
            this.$store.dispatch('notif/setNotif', res)
            if (res.title !== 'error') {
              this.params = { ...this.params, page: 1 }
              this.getData(this.params)
            }
          })
      }
    },
  },
})
</script>

<style>
#app {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
@media (min-width: 1200px) {
  #app {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.item img {
  width: 100%;
  object-fit: cover;
}
</style>
