<template>
  <div>
    <div v-show="loading">
      <loading />
    </div>
    <div v-show="!loading">
      <ModalForm
        v-if="openForm"
        @closeForm="closeForm"
        @submitForm="submitForm"
        :action="formAction"
        :form="defaultForm"
        :loading="loadingForm"
      />
      <div class="min-h-96">
        <VueSlickCarousel
          v-bind="{
            ...carouselSettings,
            autoplay: user && user.token ? false : true,
          }"
          v-if="!loadingSlider && sliders.length > 0"
        >
          <div v-for="(slider, index) in sliders" :key="index" class="relative">
            <img
              class="aspect-ratio-16/9 object-cover h-96 sm:h-full w-full"
              :src="slider.url"
              :alt="slider.name"
            />
            <div class="absolute right-5 top-5" v-if="user && user.token">
              <button
                @click="deleteSlider(slider)"
                class="w-full text-center bg-secondary p-2 text-white pointer rounded text-sm"
              >
                Delete
              </button>
            </div>
          </div>
        </VueSlickCarousel>
        <button
          v-if="user && user.token"
          class="w-full text-center bg-primary p-4 text-white pointer"
          @click="openFormSlider"
        >
          Add Sliders
        </button>
      </div>
      <div
        class="bg-image-white h-60 sm:h-96 bg-white flex justify-center flex-wrap content-center"
      >
        <h1 class="text-4xl text-gray-700 text-center w-full">
          “Attract your dreams, make it happens”
        </h1>
      </div>
      <div
        class="w-full bg-primary flex flex-wrap sm:flex-nowrap sm:min-h-screen"
      >
        <div class="w-full flex flex-wrap" v-if="rooms.length">
          <div
            v-for="(room, index) in rooms"
            :key="index"
            :class="index + 1 > 2 ? 'border-b' : ''"
            class="w-screen md:w-2/4 lg:w-1/4 border-r border-t py-14 px-6 flex flex-col justify-between"
          >
            <div class="flex justify-between">
              <div class="text-6xl text-white sm:w-1/6">0{{ index + 1 }}</div>
              <div class="text-gray-700 w-4/6">
                <span class="text-3xl sm:text-4xl" v-html="room.title" />
                <span class="text-xl" v-html="room.subtitle" />
              </div>
            </div>
            <div class="flex justify-end w-full flex-wrap py-4">
              <div class="w-4/6">
                <span
                  v-for="(facility, indexsup) in room.facilities"
                  :key="indexsup"
                  class="text-md"
                >
                  <sup>{{ indexsup + 1 }}.</sup> {{ facility.name }}
                </span>
              </div>
            </div>
            <div class="flex justify-end w-full flex-wrap">
              <div class="w-4/6">
                <nuxt-link
                  :to="{
                    path: '/room',
                    query: {
                      room:
                        room.title +
                        (room.subtitle !== null ? room.subtitle : ''),
                    },
                  }"
                  aria-label="Loaliving"
                  class="flex"
                >
                  <img
                    :src="require(`../assets/images/arrow.webp`)"
                    alt="arrow-room"
                  />
                  <span class="ml-10 text-2xl text-white">More</span>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-white h-auto bg-white flex justify-between flex-wrap py-20"
      >
        <h2 class="text-4xl text-primary text-center w-full pb-20">
          Guest Testimony
        </h2>
        <div class="w-full flex flex-wrap sm:flex-no-wrap">
          <div
            class="text-gray-700 text-center w-full lg:w-1/3 px-8 flex flex-col justify-between"
            v-for="(testimonial, index) in testimonials"
            :key="index"
          >
            <div class="text-xl italic qn-snow">
              <span class="ql-editor" v-html="testimonial.description"></span>
            </div>
            <div class="text-2xl italic font-bold py-14">
              - {{ testimonial.name }} -
            </div>
            <div class="pb-10">
              <button
                v-if="user && user.token"
                @click="openFormTestimoni(testimonial)"
                class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
              >
                Edit
              </button>
              <button
                v-if="user && user.token"
                @click="deleteTestimonial(testimonial.id)"
                class="bg-secondary text-white rounded px-2 py-1 text-sm md:mt-0"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <button
        v-if="user && user.token"
        class="w-full text-center bg-primary p-4 text-white pointer"
        @click="openFormTestimoni()"
      >
        Add Testimoni
      </button>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { getToken } from '../common/utils'

export default {
  components: { VueSlickCarousel },
  head() {
    return {
      title: 'Loaliving - Home & Lifestyle Passion for interior design',
      titleTemplate: '',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Home & Lifestyle Passion for interior design',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Loaliving',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Home & Lifestyle Passion for interior design',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Loaliving',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Home & Lifestyle Passion for interior design',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },

  data: () => ({
    carouselSettings: {
      lazyLoad: 'progressive',
      autoplaySpeed: 3000,
      dots: true,
      fade: false,
      pauseOnHover: false,
      arrows: false,
      infinite: true,
      adaptiveHeight: true,
      speed: 1000,
      slidesToShow: 1,
      slidesToScroll: 1,
    },

    openForm: false,

    formAction: '',
    defaultForm: {},

    formSlider: [{ field: 'image', type: 'image', label: 'Image', value: '' }],

    formTestimoni: [
      { field: 'name', type: 'text', label: 'Name', value: '' },
      { field: 'description', type: 'wysiwyg', label: 'Testimoni', value: '' },
    ],
    formTestimoniId: null,

    loadingForm: false,
    loadingSlider: false,

    loading: false,

    user: {},
  }),

  async asyncData(context) {
    const dataSlider = { params: { type: 'SLIDER', sortBy: 'id,desc' } }
    const dataReviews = { params: { sortBy: 'id,asc' } }

    await Promise.all([
      context.store.dispatch('home/fetchSliders', dataSlider),
      context.store.dispatch('home/fetchReviews', dataReviews),
    ])
  },

  computed: {
    sliders() {
      return this.$store.getters['home/getSliders']
    },
    testimonials() {
      return this.$store.getters['home/getReviews']
    },
    rooms() {
      return this.$store.getters['rooms/getRooms'].map((el) => {
        return {
          ...el,
          facilities: el.facilities.slice(0, 4),
        }
      })
    },
  },

  async mounted() {
    this.user.token = getToken()
    await this.getDataRooms()
  },

  methods: {
    async getDataSlider() {
      const data = { params: { type: 'SLIDER', sortBy: 'id,desc' } }
      await this.$store.dispatch('home/fetchSliders', data)
    },

    async getDataRooms() {
      const data = { params: {} }
      await this.$store.dispatch('rooms/fetchRooms', data)
    },

    async getDataReviews() {
      const data = { params: {} }
      await this.$store.dispatch('home/fetchReviews', data)
    },

    closeForm() {
      this.openForm = false
    },

    openFormSlider() {
      this.defaultForm = [...this.formSlider]
      this.formAction = 'slider'
      this.openForm = true
    },

    openFormTestimoni(data = null) {
      if (data) {
        this.defaultForm = this.formTestimoni.map((el) => {
          if (el.field == 'description')
            return {
              ...el,
              value: data.description,
            }
          if (el.field == 'name')
            return {
              ...el,
              value: data.name,
            }

          return el
        })
        this.formTestimoniId = data.id
      } else {
        this.defaultForm = [...this.formTestimoni]
      }

      this.formAction = 'testimoni'
      this.openForm = true
    },

    async submitForm({ action, data }) {
      if (action === 'slider') this.submitSlider(data)
      if (action === 'testimoni') this.submitTestimoni(data)
    },

    async deleteSlider(payload) {
      if (confirm('Do you really want to delete?')) {
        const data = {
          id: payload.id,
        }

        await this.$store.dispatch('home/deleteSlider', data).then((res) => {
          this.$store.dispatch('notif/setNotif', res)
          if (res.title !== 'error') {
            this.getDataSlider()
          }
        })
      }
    },

    async submitSlider(data) {
      this.loadingForm = true

      const payload = {
        ...data,
        type: 'SLIDER',
      }
      await this.$store.dispatch('home/uploadSlider', payload).then((res) => {
        this.$store.dispatch('notif/setNotif', res)
        this.loadingForm = false
        if (res.title !== 'error') {
          this.openForm = false
          this.getDataSlider()
        }
      })
    },

    async submitTestimoni(data) {
      this.loadingForm = true

      let payload = { ...data, rate: 5, is_published: 1 }

      if (this.formTestimoniId)
        payload = { ...payload, id: this.formTestimoniId }

      await this.$store.dispatch('home/updateReviews', payload).then((res) => {
        this.$store.dispatch('notif/setNotif', res)
        this.loadingForm = false
        if (res.title !== 'error') {
          this.formTestimoniId = null
          this.openForm = false

          this.getDataReviews()
        }
      })
    },

    async deleteTestimonial(id) {
      if (confirm('Do you really want to delete?')) {
        await this.$store.dispatch('home/deleteReviews', { id }).then((res) => {
          this.$store.dispatch('notif/setNotif', res)
          if (res.title !== 'error') {
            this.getDataReviews()
          }
        })
      }
    },
  },
}
</script>
