<template>
  <div>
    <loading v-show="loading" />
    <div class="md:mt-8" v-show="!loading">
      <ModalForm
        v-if="openForm"
        @closeForm="closeForm"
        @submitForm="submitForm"
        :action="formAction"
        :form="defaultForm"
        :loading="loadingForm"
      />
      <div
        class="w-full flex flex-wrap lg:flex-nowrap justify-between p-5 md:px-14 mb-36 h-full lg:h-96"
        v-for="(room, index) in rooms"
        :key="index"
        :id="room.title + (room.subtitle !== null ? room.subtitle : '')"
      >
        <div class="w-full h-full lg:w-3/6 lg:pr-10 flex flex-wrap">
          <div
            v-viewer="optionViewer"
            class="w-full h-full lg:w-4/6 border-2 border-gray-100"
          >
            <img
              class="object-fit w-full h-full"
              style="cursor: zoom-in"
              :src="room.images[room.activeIndex].url"
              :alt="room.images[room.activeIndex].url"
            />
          </div>
          <div
            class="h-full w-100 lg:w-2/6 flex flex-wrap pb-12 md:pb-28 lg:pb-0"
          >
            <div
              v-for="(image, indeximg) in room.images"
              :key="indeximg"
              class="w-1/3 lg:w-full h-1/3 lg:px-6 cursor-pointer"
              v-show="indeximg !== room.activeIndex"
            >
              <div
                @click="changeImage(index, indeximg)"
                class="h-full border-2 border-gray-100"
              >
                <img
                  class="object-fit w-full h-full"
                  :src="image.url"
                  :alt="image.url"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full h-full lg:w-3/6 pl-0 text-gray-700 flex flex-col justify-between"
        >
          <div
            class="flex flex-wrap sm:flex-nowrap justify-between items-center"
          >
            <div class="flex items-center w-4/6">
              <span class="text-6xl text-primary">0{{ index + 1 }}</span>
              <div>
                <h1 class="text-4xl ml-4 ql-editor" v-html="room.title" />
                <sup class="text-xl" v-html="room.subtitle" />
              </div>
            </div>
            <div class="flex justify-between items-center w-2/6">
              <hr class="w-2/6" />
              <h2 class="text-xl ml-4">
                {{ roundNumber(room.width) }} M<sup>2</sup>
              </h2>
            </div>
          </div>

          <div class="mt-5">
            <span class="text-2xl">Facilities</span>
          </div>
          <div class="mt-5 mb-5 flex justify-between flex-wrap">
            <div
              v-for="section in [0, 1]"
              class="w-full sm:w-1/2"
              :key="section"
            >
              <div
                v-for="(facility, indexf) in filterNumber(
                  room.facilities,
                  section
                )"
                :key="indexf"
              >
                <sup>
                  {{
                    section > 0
                      ? `${
                          indexf + 1 + room.facilities.length / 2 > 9 ? '' : '0'
                        }${
                          (indexf + 1 + room.facilities.length / 2) % 1 === 0
                            ? indexf + 1 + room.facilities.length / 2
                            : indexf + 1 + room.facilities.length / 2 + 0.5
                        }`
                      : `0${indexf + 1}`
                  }}.
                </sup>
                {{ facility.name }}
              </div>
            </div>
          </div>
          <div class="flex items-center justify-end">
            <div
              class="md:px-3 w-full text-left text-center md:text-right text-sm"
            >
              <router-link
                :to="{ name: 'book', query: { room: room.book_id } }"
              >
                <button
                  class="bg-primary text-white rounded px-3 py-2 my-5 md:mt-0"
                >
                  Reservation
                </button>
              </router-link>
              <button
                v-if="user && user.token"
                @click="openFormRoom(room)"
                class="bg-secondary text-white rounded px-3 py-2 md:mt-0"
              >
                Edit Room
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { getToken } from '~/common/utils'

export default Vue.extend({
  head() {
    return {
      title: 'Room',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Book a Room at LOA Now',
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content:
            'hotel di Solo, LOA Living Solo Baru, hotel di Solo Baru, hotel dekat keraton Solo, hotel bintang 3 di Solo Baru, hotel bintang 3 di Solo, hotel bagus di Solo, hotel bagus di Solo Baru, hotel bersih di Solo, kamar hotel di Solo, kamar hotel di Solo Baru, akomodasi di Solo, penginapan di Solo, hotel dekat Hartono Mall, hotel di Hartono Mall, hotel di The Park, hotel dekat The Park',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: 'Room',
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: 'Book a Room at LOA Now',
        },
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          content: 'Loaliving',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
        {
          hid: 'og:url',
          name: 'og:url',
          content: `https://loalivingsolo.com/room`,
        },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@loaliving',
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@loaliving',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: `https://loalivingsolo.com/room`,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Room Loaliving',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Book a Room at LOA Now',
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: 'https://www.loalivingsolo.com/_nuxt/img/logo.05cf3aa.webp',
        },
      ],
    }
  },

  data: () => ({
    user: {},
    loading: false,
    loadingForm: false,
    optionViewer: {
      navbar: false,
      toolbar: false,
    },
    rooms: [],
    openForm: false,
    formAction: '',
    defaultForm: {},
    roomData: {},

    formRoom: [
      { field: 'id', type: 'id', label: '', value: '' },
      { field: 'title', type: 'text', label: 'Room Name', value: '' },
      { field: 'subtitle', type: 'text', label: 'Sub Room Name', value: '' },
      { field: 'book_id', type: 'text', label: 'Big Sys ID', value: '' },
      { field: 'width', type: 'number', label: 'Room Size', value: '' },
      {
        field: 'facilities',
        type: 'arraystring',
        label: 'Facilities',
        value: '',
      },
      { field: 'image1', type: 'image', label: 'Image 1', value: '' },
      { field: 'image2', type: 'image', label: 'Image 2', value: '' },
      { field: 'image3', type: 'image', label: 'Image 3', value: '' },
      { field: 'image4', type: 'image', label: 'Image 4', value: '' },
    ],
  }),

  computed: {
    roomdata() {
      const data = this.$store.getters['rooms/getRooms']
      return data.map((el: any) => {
        return {
          ...el,
          activeIndex: 0,
        }
      })
    },
  },

  watch: {
    roomdata: function (val) {
      this.rooms = val
    },
  },

  mounted() {
    ;(this.user as any).token = getToken()
    this.getRooms()
  },

  methods: {
    async getRooms() {
      this.loading = true

      await this.$store.dispatch('rooms/fetchRooms', { params: {} })
      this.loading = false

      const roomId: string | any = this.$route.query.room
      setTimeout(() => {
        const elmnt = document.getElementById(roomId)
        elmnt?.scrollIntoView({
          behavior: 'smooth',
        })
      }, 1000)
    },
    filterNumber(data: any, section: number) {
      const isOdd = data.length % 2 ? 1 : 0
      let res = []
      if (section > 0) res = data.slice(data.length / 2 + isOdd, data.length)
      else res = data.slice(0, data.length / 2 + isOdd)
      return res
    },

    changeImage(index: number, indeximg: number) {
      ;(this.rooms[index] as any).activeIndex = indeximg
    },

    openFormRoom(payload: any) {
      this.roomData = payload
      this.defaultForm = this.formRoom.map((el) => {
        let data = {}
        if (el.field == 'title') {
          data = {
            ...el,
            value: payload.title,
          }
        } else if (el.field == 'id') {
          data = {
            ...el,
            value: payload.id,
          }
        } else if (el.field == 'subtitle') {
          data = {
            ...el,
            value: payload.subtitle,
          }
        } else if (el.field == 'book_id') {
          data = {
            ...el,
            value: payload.book_id,
          }
        } else if (el.field == 'width') {
          data = {
            ...el,
            value: this.roundNumber(payload.width),
          }
        } else if (el.field == 'image1') {
          data = {
            ...el,
            url: payload.images[0] && payload.images[0].url,
          }
        } else if (el.field == 'image2') {
          data = {
            ...el,
            url: payload.images[1] && payload.images[1].url,
          }
        } else if (el.field == 'image3') {
          data = {
            ...el,
            url: payload.images[2] && payload.images[2].url,
          }
        } else if (el.field == 'image4') {
          data = {
            ...el,
            url: payload.images[3] && payload.images[3].url,
          }
        } else if (el.field == 'facilities') {
          data = {
            ...el,
            value: payload.facilities.map((el: any) => el.name).toString(),
          }
        } else {
          data = { ...el }
        }

        return data
      })
      this.formAction = 'room'
      this.openForm = true
    },

    closeForm() {
      this.openForm = false
    },

    async submitForm(data: any) {
      this.loadingForm = true
      const payload: any = {
        ...data.data,
        subtitle: data.data.subtitle ?? '',
        facilities: data.data.facilities.split(','),
      }

      const imgFiles = Object.entries(data.data).filter(
        (el) => el[1] instanceof File
      )

      const images = imgFiles.map((el) => el[1])

      // add remove image
      const arrImages = imgFiles.map((el: any) => el[0].match(/\d+/)[0] - 1)
      const removeImages: any = []

      arrImages.forEach((el) => {
        removeImages.push((this.roomData as any).images[el].id)
      })

      images.length > 0 && (payload.images = images)
      removeImages.length > 0 &&
        images.length > 0 &&
        (payload.remove_image_ids = removeImages)

      delete payload.image1
      delete payload.image2
      delete payload.image3
      delete payload.image4

      await this.$store.dispatch('rooms/updateRooms', payload).then((res) => {
        this.$store.dispatch('notif/setNotif', res)
        this.loadingForm = false
        if (res.title !== 'error') {
          this.openForm = false
          this.getRooms()
        }
      })
    },

    roundNumber(payload: any) {
      return Number(payload).toString()
    },
  },
})
</script>
