<template>
  <div>
    <Loading />
  </div>
</template>

<script>
import Loading from '../components/Loading.vue'
export default {
  name: 'webmail',
  components: { Loading },
  mounted() {
    
    window.location.replace('https://fiona.sg.domainesia.com:2096')
  },
}
</script>
